<h3>And here's the unique routes they correspond to:</h3>

<% routes_array = [] %>
trips_array_outbound = []
trips_array_inbound = []
outbound_headsign_frequency = {}
outbound_headsign = ""
outbound_route_headsign = {}

<% @nearby.each do |stop| %>
  stop.routes.distinct.each do |route|
    <% route_record = "Route #{route.short_name}: #{route.long_name}" %>
    <% routes_array.push(route_record) %>
    
    trips_array_outbound = []
    trips_array_inbound = []
    outbound_headsign_frequency = {}
    outbound_headsign = ""

    route.trips.each do |trip|
      if trip.headsign != ""
        if trip.direction_id == 0
          trips_array_outbound.push(trip.headsign)
        elsif trip.direction_id == 1
          trips_array_inbound.push(trip.headsign)
        end
      end
    end

    outbound_headsign_frequency = trips_array_outbound.inject(Hash.new(0)) { |k,v| k[v] += 1; k }
    outbound_headsign = trips_array_outbound.max_by { |v| outbound_headsign_frequency[v] }
    puts outbound_headsign

    outbound_route_headsign[route.id] = outbound_headsign

  end
end



  <% end %>
<% end %>



<ul>
<% routes_array.uniq.each do |record| %>
  <li><span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span> <%= record %></li>
<% end %>
</ul>
