<h1>I love maps!!</h1>

Oh also, here's the journey you're on. We'll use these coords to plug into maps and our proximity calculations! <br>
<h3><%= @journey.name %></h3>
<h4>Heading <%= @journey.direction %></h4>

<h3>With the final destination of <strong><%= @destination.name %></strong></h3>